.tt-dropdown-menu {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.tt-suggestion .custom-tt-suggestion {
	padding-left: 3px;
	color: #333333;
	margin: 0px;
	white-space: nowrap;
	line-height: 83%;
}

.tt-dropdown-menu .tt-suggestion:hover {
	cursor: pointer;
}

.tt-dropdown-menu .tt-suggestion {
	padding: 0px;
}

.tt-dropdown-menu .tt-suggestion .custom-tt-suggestion {
	padding: 5px 18px;
}

.tt-cursor {
	background-color: #ccc;
}

.tt-suggestion-description {
	font-size: 9px;
}

.tt-dataset-header {
	padding-left: 5px;
	font-weight: bold;
}